@import "tailwindcss";
@import "@heroui/styles";




  :root {
    /* Page defaults (Cream Vanilla background, Dark Crimson text) */
    --background: #efe6dd;
    --foreground: #9a0002;

  }
     body {
    background-color: var(--background) ;
    color: var(--foreground) ;
  }



